<div class="page-header">
  <h1>Contact</h1>
</div>
<p>While this site is not intended for personal use, you can find contact information for the developer here.</p>
<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="text-center panel-title">Ryan Spittler</h3>
    </div>
    <div class="text-center">
      <br/>
      <%= image_tag 'Ryan Spittler.jpg', class: 'img-rounded text-center' %>
    </div>
    <h4 class="text-center">
      ryanspittler@gmail.com
    </h4>
    <div class="panel-footer">
      <a class="btn btn-sm btn-block btn-social btn-linkedin" href="https://www.linkedin.com/pub/ryan-spittler/b2/549/480">
        <i class="fa fa-linkedin"></i> Find me on LinkedIn
      </a>
      <a class="btn btn-sm btn-block btn-social btn-github" href="https://github.com/RyanSpittler">
        <i class="fa fa-github"></i> Find me on GitHub
      </a>
      <a class="btn btn-sm btn-block btn-social btn-primary" href="https://ryanspittler.wordpress.com/">
        <%= image_tag 'wordpress_icon.png' %> Read My Blog
      </a>
    </div>
  </div>
</div>
