<div class="page-header">
  <%= link_to new_car_path, :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Car
  <% end %>
  <h1>Listing Cars</h1>
</div>

<%= render "ajax_loading" %>
<div class="cars">
  <%= render "cars" %>
</div>
